/**
 * Custom
 */
.absolute-trbl{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    @include media-query($on-laptop) {
       position: relative;
       top: auto;
       right: auto;
       left: auto;
       bottom: auto;
    }
}
.absolute-rl{
  position: absolute;
  right: 0;
  left: 0;
}

.page{
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  @include media-query($on-bigger) {
     background-image: url('/assets/images/bg1920.jpg');
  }
  @include media-query($on-big) {
     background-image: url('/assets/images/bg1440.jpg');
  }
  @include media-query($on-pc) {
     background-image: url('/assets/images/bg1024.jpg');
  }
  @include media-query($on-laptop) {
    position: relative;
    top:auto;
    left:auto;
    right: auto;
    bottom: auto;
    background-attachment:fixed;
    background-size: auto auto;
  }
}


.site-header{
  height: 214px;
  margin: 0;
  padding: 0;
  border: 0;
}
.site-header .wrapper{
  padding-top: 18px;
}
.page-content{
  position: absolute;
  top: 214px;
  bottom: 0;
  left:0;
  right:0;
  color: gray;
  padding: 0;
  @include media-query($on-laptop) {
    position: relative;
    top:auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}

.site-header{

  @include media-query($on-bigger) {
      height: 248px;
  }
  @include media-query($on-big) {
    height: 190px;
  }
  @include media-query($on-pc) {
    height: 160px;
  }

  @include media-query($on-laptop) {

  }
}
.page-content{
  @include media-query($on-bigger) {
    top: 248px;
  }
  @include media-query($on-big) {
    top: 190px;
  }
  @include media-query($on-pc) {
    top: 160px;
  }
    @include media-query($on-laptop) {
      top:auto;
    }
}

.site-footer{

}
@media screen and (min-width: $on-pc) {

  .page-bg-outer {
    background-position: top center ;
    background-repeat: no-repeat;
    background-image: url('/assets/images/box-t.png');
  }
  .page-bg{
    bottom: 60px;
    background-position: bottom center ;
    background-repeat: no-repeat;
    background-image: url('/assets/images/box-b.png');
  }
  .page-bg-inner{
    top: 72px;
    bottom: 65px;
    background-position: center center;
    background-repeat: repeat-y;
    background-image: url('/assets/images/box-m.png');
  }

  .site-nav-pc {
    padding: 0 0 0 5px;
    background-image: url('/assets/images/nav.png');
    background-position: top left;
    background-repeat: no-repeat;
    line-height: 48px;
  }
  .site-nav-pc .page-link{
    color: #00C3DC;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 6px;
    display: inline-block;
    width: 130px;
    text-align: center;
    padding: 12px 0 20px 0;
    line-height: 1.14;
  }
  .site-nav-pc .page-link.page-link-active{
    color: #ffffff;
  }
  .site-nav-pc .page-link:hover{
    color: #ffffff;
    background-image:  url('/assets/images/nav-hl.png');
    background-repeat: no-repeat;
    background-position: bottom center;
  }

}

.post{

  padding: 2px 46px 12px 46px;
  color: #ffffff;
  line-height: 1.6em;
  letter-spacing: normal;
}
.post-title{
  color: #ffffff;
  line-height: 30px;
  font-size: 22px;
  padding:  6px 0 6px 38px;
  background-image:  url('/assets/images/title-bg.png');
  background-repeat: no-repeat;
  background-position: center left;
}

/*
 *  style scrollbar
 *  https://webkit.org/blog/363/styling-scrollbars/
 *  http://www.blueidea.com/tech/web/2011/8383.asp
*/
/* ie scrollbar */
.post{
  scrollbar-arrow-color: #0F3383;     /*三角箭头的颜色*/
  scrollbar-face-color: #0F3383;      /*立体滚动条的颜色（包括箭头部分的背景色）*/
  scrollbar-3dlight-color: #0F3383;   /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #0F3383; /*滚动条的高亮颜色（左阴影？）*/
  scrollbar-shadow-color: #0F3383;    /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #0F3383; /*立体滚动条外阴影的颜色*/
  scrollbar-track-color: #0F3383;     /*立体滚动条背景颜色*/
  scrollbar-base-color:#0F3383;       /*滚动条的基色*/
}

/*
 *  webkit scrollbar
 */
.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/*background-color: #F5F5F5;*/
	border-radius: 10px;
}

.content::-webkit-scrollbar
{
	width: 6px;
	/*background-color: #F5F5F5;*/
}

.content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  background-color: #F5F5F5;

  /*background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
                     */
}
.content::-webkit-scrollbar-track-piece
{
  border-radius: 10px;
  background-color: blue;
}

.locales {
padding: 16px 12px 12px 0;

}
.locales a{
  background-image:  url('/assets/images/flags.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 36px;
  padding: 12px 0;
}
.locale-zh{
  background-position: 0px 0px;
}
.locale-fr{
  background-position: -38px 0;
}
.locale-en{
  background-position: -76px 0;
}

.content{
  position: absolute;
  width: 788px;
  left:50%;
  margin-left: -394px;
  margin-right: auto;
  top: 0;
  bottom: 0;
  overflow: auto;
  @include media-query($on-laptop) {
    position: relative;
    left: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.nutrition{
  position: relative;
  background-image:  url('/assets/images/nutrition.png');
  background-repeat: no-repeat;
  height: 600px;
}
.feature-title{
  display: none;
}
.nutrition1{
  position: absolute;
  top: 68px;
  left: 214px;
}
.nutrition2{
  position: absolute;
  top: 268px;
  left: 384px ;
}
.nutrition3{
  position: absolute;
  top: 484px;
  left: 48px ;
}

.nutrition-plam{
  display: none;
}
.product
{
  float: left;
  width: 33%;
}
.product p{
  margin:  0 20px 8px 0;
  border-bottom: solid 1px #ffffff;
  padding:  0 0 2px 0;
}
.product p.last{
  border-bottom: none;
}
.product-desc{
  float: left;
  padding: 0 0 0 36px;
}
.product-img{
  height: 184px;
}
body.zh{
  .post-title{
    padding:  6px 0 6px 50px;
  }
}

body.en{
  .site-nav-pc{
      line-height: 46px;
  }
  .site-nav-pc .page-link{
    letter-spacing: normal;
    font-size: 14px;
    padding: 12px 0 21px 0;
  }
  .product p{
    margin:  0 12px 8px 0;
  }
  .product-desc{
    padding: 0 0 0 6px;
  }
  .nutrition{
    background-image:  url('/assets/images/nutrition-en.png');
  }

  .post-title-l{
    background-image:  url('/assets/images/title-bg-l.png');
  }
}
body.fr{
  .site-nav-pc{
      line-height: 46px;
  }
  .site-nav-pc .page-link{
    letter-spacing: normal;
    font-size: 14px;
    padding: 12px 0 21px 0;

  }
  .product p{
    margin:  0 12px 8px 0;

  }
  .product-desc{
    padding: 0 0 0 6px;
  }
  .nutrition{
    background-image:  url('/assets/images/nutrition-fr.png');
  }
  .post-title-l{
    background-image:  url('/assets/images/title-bg-l.png');
  }
}

@media screen and (max-width: $on-palm) {
   body{
     box-sizing: border-box;
     background-position: top center;
     background-repeat: no-repeat;
     background-image: url('/assets/images/bg1024.jpg');
     background-attachment:fixed;
     background-size: auto auto;

   }
   .page{
      background-image: none;
   }
  .wrapper { padding: 0;}
  .content {
    top:auto;
    bottom: auto;
  }
  .site-nav-pc {
      /*line-height: 24px;*/
      /*margin: 0 2px 0 2px;
      background-image: url('/assets/images/nav.png');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
      */
      background-color: #0B308E;
      opacity: 0.5;
      border-radius: 5px;
      margin: 0 2px;
      line-height: inherit;
  }
  .site-nav-pc .page-link{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding:  0;
    color: #ffffff;
    border-right: solid 1px #ffffff;
    margin: 6px 0;
      width: 32%;
  }
  .site-nav-pc .page-link:last-child
  {
    border: none;
  }
  .site-nav-pc .page-link:nth-child(3)
  {
    border: none;
  }

  .post{
    padding: 2px 10px;
    color: #ffffff;
    line-height: 1.6em;
    letter-spacing: normal;
  }
  .product
  {
    display: block;
    width: 100%;
  }
  .product-img
  {
    width: 50%;
    float: left;
    height: auto;
  }
  .product-desc
  {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 12px 0 0 5px;
  }
  .nutrition, body.fr .nutrition, body.en .nutrition
  {
    height: auto;
    background-image:  none;
    .feature{
      position: relative;
      top:auto;
      left: auto;
      margin: 0 0 8px 0;

      .feature-title{
        display: block;
        span{
          display: inline-block;
          background-color: #F7B52C;
          padding: 3px 5px;
          border-radius: 0 5px;
        }
      }
    }

  }
  .nutrition-plam{
    display: block;
  }


  body.fr .site-nav-pc .page-link
  {
    padding:  0;
    line-height: normal;
  }
  body.en .site-nav-pc .page-link
  {
    padding:  0;
    line-height: inherit;
  }
}
